.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: white;
    max-height: fit-content;
    background-color: #282c34;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}

.content ul {
    list-style-type: none;
    align-items: left;
    justify-content: center;
    padding: 0;
    background-color: #282c34;
}

.main-list {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    background-color: #282c34;
}

.main-list li {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #282c34;
}

.divider {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #282c34;
    padding: 0;
    margin: 0;
    width: 3%;
    height: 100%;
    text-align: left;
}