.in-all ul {
    list-style-type: none;
    align-items: left;
    justify-content: center;
    padding: 0;
    background-color: #282c34;
}

.in-all li {
    display: inline;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: #282c34;
    padding: 10px;
}

.combinations ul {
    list-style-type: none;
    align-items: left;
    justify-content: center;
    padding: 0;
    background-color: #282c34;
}